* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.flex-row-all {
  padding-left: 20px;
  width: 100%;
  
}

.no-underline {
  text-decoration: none;
}
.mx-2 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.px-1 {
  padding-right: 1rem * 0.5;
  padding-left: 1rem * 0.5;
}

.top-header {
  background: url("./components/images/minimal.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 20vh;
  position: relative;
  overflow: hidden;
}

.nav-font {
  color:#fff;
}

.logo {
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 50px;
  color: #fff;
  font-family: "Georgia", serif;
  font-style: italic;
}


.nav-list li a{
  padding: 5px 10px;
  margin-left: 20px;
}

.nav-list li a:hover,
.nav-list li a.active {
  background-color: #fff;
  border-radius: 6px;
  color:black;
  transition: all 0.5s ease-in-out;
}

.section-header {
  margin-top: 15px;
  margin-left: 20px;
}

.section-h2 {
  padding-bottom: 15px;
}


form {
  width: 40%;
  
}

input {
  font-size: 1rem;
  padding: 6px;
  border: 1px solid;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  margin: 5px;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

label {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 5px;
}

textarea {
  width: 45%;
  height: 13vh;
  margin: 5px;
}

.form-button {
  margin: 5px;

}

.resume-button {
  color: #fff;
  background-color: rgb(54, 71, 87);
  transition-duration: 1s;
  padding: 6px;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 8px;
}

.button:hover {
  background-color: #ffffff; /* Green */
  color: rgb(0, 0, 0);
}

.resume{
  margin: auto;
  width: 50%;
  border: 3px solid; 
  padding: 10px;
}

.covid-button {
  background: url("./components/images/covidtracker.jpg");
  padding: 150px 200px;
  font-weight: bold;
  font-size: 20px;
  transition-duration: 1s;
}

.covid-button:hover {
  filter: grayscale(30%);
  box-shadow: 10px 10px 5px rgb(61, 85, 94);
}

.coding-button {
  background: url("./components/images/coding-buddy-img.jpg");
  padding: 151px 200px;
  transition-duration: 1s;
  color: #fff;
  font-weight: bold;
  font-size: 19px;
  background-position: -420px -20px;
}

.coding-button:hover {
  filter: grayscale(30%);
  box-shadow: 10px 10px 5px rgb(61, 85, 94);
}

.linkedin {
  margin-bottom: -5px;
}

.footerWrap {
  width:100%;
  position:fixed;
  bottom: 0px;
}
.footer {
  width:400px;
  margin:auto;
}
.footerContent {
  float:left;
  width:100%;
  background-color:rgb(255, 255, 255);
  padding:20px 0;
}
.footer ul {float:left; width:100%; text-align:center; }

.profile-pic {
  border-radius: 600px;
  width: 120px; 
  height: 120px; 
  overflow: hidden;
  border: 5px solid rgb(255, 255, 255);
  object-fit: cover;
  object-position: 100% 0;
}